<div class="p-grid p-dir-col p-nogutter">
    <div class="p-col title">
        <h2>Репозиторий сертификатов</h2>
       <!-- <p-card header="Simple Card" [style]="{width: '360px', display: 'inline'}">
            Content
        </p-card>-->
    </div>
    <div class="p-col toolbar" *ngIf="currentUser">
        <app-toolbar></app-toolbar>
    </div>
    <div class="p-col content" style="width:100%">
        <app-progress-spinner></app-progress-spinner>
        <app-alert></app-alert>
        <router-outlet></router-outlet>
    </div>
</div>