<p-table [value]="certificates" selectionMode="single" [loading]="loading" [(selection)]="selectedCertificate"
         [contextMenu]="tableContextMenu" [(contextMenuSelection)]="selectedCertificate" dataKey="uniqueId" [rowTrackBy]="this.rowTrackBy"
         (onSort)="this.sortCertificates($event)" [lazy]="true">
    <ng-template pTemplate="header">
        <tr>
            <th [ngClass]="'name'" [pSortableColumn]="'name'">
                Наименование
                <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th [ngClass]="'download'"></th>
            <th [ngClass]="'date'" [pSortableColumn]="'begin'">
                Начало
                <p-sortIcon [field]="'begin'"></p-sortIcon>
            </th>
            <th [ngClass]="'date'" [pSortableColumn]="'end'">
                Окончание
                <p-sortIcon [field]="'end'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'fio'">
                ФИО
                <p-sortIcon [field]="'fio'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'position'">
                Должность
                <p-sortIcon [field]="'position'"></p-sortIcon>
            </th>
            <th [ngClass]="'serialNumber'" [pSortableColumn]="'serialNumber'">
                Серийный номер
                <p-sortIcon [field]="'serialNumber'"></p-sortIcon>
            </th>
            <th>Комментарий</th>
            <th [pSortableColumn]="'stateDescr'">
                Состояние
                <p-sortIcon [field]="'stateDescr'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-certificate>
        <tr [pContextMenuRow]="certificate" [ngClass]="getTableRowClass(certificate)" [pSelectableRow]="certificate">
            <td>{{certificate.name}}</td>
            <td>
                <button type="button" pButton (click)="onDownloadFileClick(certificate)" icon="pi pi-download"
                        pTooltip="Скачать файл"></button>
            </td>
            <td>{{certificate.begin}}</td>
            <td>{{certificate.end}}</td>
            <td>{{certificate.fio}}</td>
            <td>{{certificate.position}}</td>
            <td>{{certificate.serialNumber}}</td>
            <td>{{certificate.comment}}</td>
            <td>{{certificate.stateDescr}}</td>
        </tr>
    </ng-template>
</p-table>

<p-contextMenu #tableContextMenu [model]="contextMenuItems"></p-contextMenu>
