<p-table [value]="certificates" selectionMode="single" [loading]="loading" [(selection)]="selectedCertificate"
         [contextMenu]="tableContextMenu" [(contextMenuSelection)]="selectedCertificate" dataKey="uniqueId" [rowTrackBy]="this.rowTrackBy"
         (onSort)="this.sortCertificates($event)" [lazy]="true" [style]="{marginBottom: '10px'}">
    <ng-template pTemplate="header">
        <tr>
            <th [ngClass]="'name'" >
                <a class="ui-sortable-column" (click)="onCollapseClick($event)">
<!--                    <span [class]="collapsed ? 'pi pi-plus' : 'pi pi-minus'"></span>-->
                    <span [class]="'ui-sortable-column-icon pi ' + (collapsed ? 'pi pi-plus' : 'pi pi-minus') + ' pi-sort-alt'"></span>
                </a>
                {{schemeName}}
                <p-sortIcon [field]="'name'" [pSortableColumn]="'name'"></p-sortIcon>
            </th>
            <th [ngClass]="'download'"></th>
            <th [ngClass]="'date'">
                Начало
                <p-sortIcon [field]="'begin'" [pSortableColumn]="'begin'"></p-sortIcon>
            </th>
            <th [ngClass]="'date'">
                Окончание
                <p-sortIcon [field]="'end'" [pSortableColumn]="'end'"></p-sortIcon>
            </th>
            <th>
                ФИО
                <p-sortIcon [field]="'fio'" [pSortableColumn]="'fio'"></p-sortIcon>
            </th>
            <th>
                Должность
                <p-sortIcon [field]="'position'" [pSortableColumn]="'position'"></p-sortIcon>
            </th>
            <th [ngClass]="'serialNumber'">
                Серийный номер
                <p-sortIcon [field]="'serialNumber'" [pSortableColumn]="'serialNumber'"></p-sortIcon>
            </th>
            <th>Комментарий</th>
            <th>
                Состояние
                <p-sortIcon [field]="'stateDescr'" [pSortableColumn]="'stateDescr'"></p-sortIcon>
                <p-menu #menu [popup]="true" [model]="schemeMenuItems" appendTo="body"></p-menu>
                <button type="button" pButton icon="pi pi-bars" (click)="onSchemeMenuToggle($event, menu)"></button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-certificate>
        <tr [pContextMenuRow]="certificate" [ngClass]="getTableRowClass(certificate)" [pSelectableRow]="certificate" *ngIf="!collapsed">
            <td>{{certificate.name}}</td>
            <td>
                <button type="button" pButton (click)="onDownloadFileClick(certificate)" icon="pi pi-download"
                        pTooltip="Скачать файл"></button>
            </td>
            <td>{{certificate.begin}}</td>
            <td>{{certificate.end}}</td>
            <td>{{certificate.fio}}</td>
            <td>{{certificate.position}}</td>
            <td>{{certificate.serialNumber}}</td>
            <td>{{certificate.comment}}</td>
            <td>{{certificate.stateDescr}}</td>
        </tr>
    </ng-template>
</p-table>

<p-contextMenu #tableContextMenu [model]="contextMenuItems"></p-contextMenu>
