.name {
  width: 15%;
}

.serialNumber {
  width: 210px;
}

.download {
  width: 45px;
}

.date {
  width: 8%;
}

.invalid {
  background-color: rgba(255, 0, 0, 0.05) !important;
  /*color: #ffffff !important;*/
}

.warning {
  background-color: DarkKhaki !important;
}


