<p-dialog header="Редактор системы" [(visible)]="displaySchemeForm" [modal]="true" [blockScroll]="true" [responsive]="true" [contentStyle]="{'max-height':'500px', 'min-width': '500px'}"
          [transitionOptions]="'0ms'" [closable]="false">
    <form class="p-grid" [formGroup]="schemeForm">
        <div class="p-col-12">
            <div class="p-col-4">
                <label for="name">Наименование<span style="color: red">*</span>:</label>
            </div>
            <div class="p-col-12">
                <input type="text" id="name" pInputText formControlName="name" style="width: 100%"/>
            </div>
        </div>
        <div class="p-col-12">
            <div class="p-col-4">
                <label for="comment">Комментарий:</label>
            </div>
            <div class="p-col-12">
                <textarea id="comment" pInputTextarea formControlName="comment" style="width: 100%"></textarea>
            </div>
        </div>
        <div class="p-col-12">
            <div class="p-col-4">
                <label>Тип<span style="color: red">*</span>:</label>
            </div>
            <div class="p-col-12">
                <p-radioButton name="type" value="VERIF_CENTER" formControlName="type" label="Удостоверяющий центр"></p-radioButton>
                <p-radioButton name="type" value="SCHEME" formControlName="type" label="Система" [style]="{'margin-left': '10px'}"></p-radioButton>
            </div>
        </div>
        <div *ngIf="!schemeForm.value.id" class="p-col-12">
            <div class="p-col-4">
                <label>Добавить:</label>
            </div>
            <div class="p-col-12">
                <p-radioButton name="order" value="BEGIN" formControlName="order" label="в начало"></p-radioButton>
                <p-radioButton name="order" value="END" formControlName="order" label="в конец" [style]="{'margin-left': '10px'}" ></p-radioButton>
            </div>
        </div>
        <div class="p-col-12" formArrayName="crlUrls">
            <div class="p-col-12">
                <label for="crlUrls">Урлы для обновления СОС:</label>
            </div>
            <div class="p-col-12">
                <button type="button" pButton icon="pi pi-plus" class="ui-button-success" (click)="onAddCrlUrl()"></button>
            </div>
            <div class="p-grid" *ngFor="let crlUrl of crlUrls.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="p-col-8">
                        <input type="hidden" formControlName="id">
                        <input type="text" id="crlUrls" pInputText formControlName="url" style="width: 100%" />
                    </div>
                    <div class="p-col-4">
                        <button type="button" pButton icon="pi pi-minus" class="ui-button-danger" (click)="onDeleteCrlUrl(i)"></button>
                    </div>
                </ng-container>
            </div>
        </div>
    </form>
    <p-footer>
        <button type="submit" pButton icon="pi pi-save" label="Сохранить" [disabled]="schemeForm.invalid" (click)="onSubmitClick()"></button>
        <button type="button" pButton icon="pi pi-times-circle" label="Отмена" class="ui-button-warning" (click)="onCancelClick()"></button>
    </p-footer>
</p-dialog>