<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<ul th:fragment="certificateInfo">
    <li>ФИО - <span th:text="${certificate.fio}"></span></li>
    <li>Должность - <span th:text="${certificate.position}"></span></li>
    <li>Дата начала - <span th:text="${certificate.begin}"></span></li>
    <li>Дата окончания - <span th:text="${certificate.end}"></span></li>
    <li>Комментарий - <span th:text="${certificate.comment}"></span></li>
    <li>Серийный номер - <span th:text="${certificate.serialNumber}"></span></li>
    <li>Издатель - <span th:text="${certificate.name}"></span></li>
</ul>
</body>
</html>